.related_products_home {
    margin-bottom: 0px;
}
.product__item__pic {
    height: 250px;
}
a.view_all_btn {
    color: #000;
    border: 1px solid #ededed;
    padding: 8px 10px;
    border-radius: 5px;
}
.products_title_bar {
    display: flex;
    justify-content: space-between;
}
.product__item {
    border: 1px solid #ededed;
    padding-bottom: 15px;
}
.mr_tb_50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mr_b_30 {
    margin-bottom: 30px;
}
.mr_t_30 {
    margin-top: 30px;
}
a.card-link {
    color: #535151;
    font-weight: 500;
}

.card-footer {
    background-color: #fff;
}
.inner_product_post > .card {
    margin-bottom: 30px;
}
.view_product a {
    border: 1px solid #ededed;
    padding: 5px 5px;
    border-radius: 5px;
    color: #000;
    font-size: 14px;
}
.product_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.product__item__text {
    text-align: left;
    padding: 10px 15px;
}
.product__item__text h6 {
    height: 45px;
}
a.view_all_btn:hover {
    background-color: #3f3f3f;
    color: #fff;
    border-radius: 5;
    border: 0;
}
.jumbotron {
    padding: 0;
}
.jumbotron h4 {
    padding: 15px 20px;
    background: #6ecf8d;
    color: #fff;
    border-radius: 5px;
}
.inner_jumb > table {
    width: 100%;
    text-align: center;
    padding-bottom: 16px;
    margin-top: 15px;
}

.inner_jumb {
    padding-bottom: 16px;
}

table td {
    padding: 10px;
}
table.where_to_buy a {
    background: #fff;
    color: #000;
    padding: 4px 7px;
}
.tag-lists {
    display: flex;
}
.tag-lists h5 {
    margin-right: 15px;
}
.tag-lists span {
    background: #ededed;
    margin: 0px 5px;
    padding: 0px 7px;
}
.inner_product_post img {
    max-height: 230px;
}
p.card-text.date_time_txt {
    color: #e76b6b;
}
